@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');


:root{
  --main-color:#cda45e;
  --hover-color:#d9ba85;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
  --font-family: 'Encode Sans Expanded', sans-serif;
  --rating-color: #ffc908;

}

.text-main{
  color: var(--main-color);
}

.text-subMain{
  color:#e7bd74
}

.text-green{
  color:#0aad0a
}

.bg-green{
background-color: #0aad0a;
}

.main-border{
  border: 2px solid green;
}

.bg-main{
background-color: var(--main-color);
}

.bg-main:hover{
background-color: var(--hover-color);
}

.btn-sub{
  transition: color 0.5s;
}

.btn-sub:hover{
color: var(--hover-color) !important;
}

.navbar{
  background-color:rgba(12, 11, 9, 0.6);
}

.nav-link {
  color: #fff !important;
  transition: all 0.5s;
}

.nav-link:hover{
color: var(--hover-color) !important;
}


body {
  font-family: var(--font-family) !important;
  background: black;
  background-size: cover;
  margin: auto;
}

.rating-color {
  color: var(--rating-color);
}


.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}

.product .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}

.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}

.font-sm {
  font-size: 14px;
}


.bg-main-light {
  background-color: var(--light-color) !important;
}

link{
  color: #fff;
}

.homeText{
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5;
    padding:1rem 0;
    color:#eee;
}

.imgSection{
background: url(/src/assets/images/Picture1.png) center no-repeat;
background-size: cover;
}

section{
  background-color:black ;
  backdrop-filter: blur(5px);
}

.register,
.login{
  background-color: rgb(255 255 255 / 0.1);
  margin-top: 150px;

}

.alert{
  padding-block: 3px;
  margin-bottom: 3px !important;
}


.form-control:focus{
  box-shadow: 0 0 0 0.25rem #cda45eca;
}



.view{
  position: absolute;
  background-color: rgba(0,0,0,.7) !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s;
}

.hovers:hover .view{
  opacity: 1;
}

.view:hover {
  background-color: var(--hover-color)!important;
  color:black !important;
}

.word{
  transform: translateY(100%);
  transition:all 0.5s;
  background-color: rgba(0, 0, 0, 0.632);
  z-index: 9999;
}

.img:hover .word{
  transform: translateY(0);
}





.there {
  background-color: #B5651D;
  padding: 0;
  margin: 0;
  min-height:100vh ;
  width: 100vw;
  display: flex;
  z-index: 9999;
  position: fixed;
}
.coffee{
  height: 105px;
  width: 110px;
  border: 10px solid #B5651D;
  box-shadow: 0 0 0 10px white;
  margin: auto;
  position: relative;
  border-radius: 0 0 110px 110px;
  background-image: linear-gradient(
  0deg,
    white 110px,
    transparent 110px,
    transparent 230px
  );
  background-size: 230px 230px;
  background-position: 0 0;
  animation: fill 2s infinite;
}
.coffee:before{
  position: absolute;
  content: "";
  height: 40px;
  width: 25px;
  border: 10px solid white;
  border-radius: 0 40px 40px 0;
  right: -55px
}
@keyframes fill{
  100%{
    background-position: 0 -115px;
  }
}

footer{
  background-color: #13131a;
}

.network{
  background-color: white;
  padding: 10px;
  border: 2px solid red;
  position: fixed;
  bottom: 80px;
  right: 60px;
  box-shadow: var(--shadow);
  z-index: 9999;
}

.map{
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.contact .contact-info span {
  content: "";
  margin-top: 3px;
  position: absolute;
  font-size: 24px;
  width: 47px;
  height: 47px;
  background: #cda45e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}


.contact .contact-info h4 {
  margin-left: 58px;
  margin-bottom: 4px;
  font-family: 'Poppins', sans-serif;
  }

  .contact .contact-info p {
    margin-left: 58px;
  }

  .about .about-img img {
    border: 4px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.5s;
  }
  
  .about .about-img:hover img {
    transform: scale(1.03);
  }
  
  .about .about-img::after{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-top: 5px solid var(--main-color);
    border-left: 5px solid var(--main-color);
    transition: all 0.5s;
  }
  .about .about-img::before{
    content: '';
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-bottom: 5px solid var(--main-color);
    border-right: 5px solid var(--main-color);
    transition: all 0.5s;
    z-index: 99;
  }
  
  .about .about-img:hover::after {
    top: 3px;
    left: 3px;
  }
  
  .about .about-img:hover::before {
    bottom: 3px;
    right: 3px;
  }

.box{
  padding:2rem;
  text-align: center;
  border:.1rem solid rgba(255,255,255,.3);   
}

.box:hover{
    background:#fff;
}

.bg-background{
  background-color: currentColor;
}
.text-blue{
  color: cornflowerblue;
}

.text-gold{
  color: gold;
}

.text-address{
  color:lavenderblush;
}

.page-item{
  padding: 5px;
}

.page-link{
  padding: 5px;
  margin:5px;
  background-color: black;

}

.fa-bars{
  color:white
}

/* .sticky{
  position: absolute;
  top: 115px;
  right:20px
} */

.res{
  padding: 0.7rem 0.75rem !important;
}
